body {
  /*padding-top: 70px;*/
  padding-top: 5%;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.bannerContainer {
    position:relative;     
}
.carousel {
    position:absolute;
    top:0;    
}
.navbar {
    position:absolute;
    top:30px;
    z-index:10;
    background:#fff;
    width:100%;
}

/*.carousel {
		position: relative;
 		margin-top: 0px;
}
@media (max-width: 767px) {
	.carousel {
		position: relative;
 		margin-top: 0px;
	}
}*/